WebProject/XmlSchemaXslt/Schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Category" type="xs:string"/>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Description" type="xs:string"/>
              <xs:element name="Quantity" type="xs:decimal"/>
              <xs:element name="UnitPrice" type="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name="Code" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>